.searchbarWrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 2rem;
  max-height: 6rem;

  @media screen and (max-width: 1100px) {
    gap: .5rem;
  }

  .searchbar {
    all: unset;
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;

    padding: 0 1rem;
    height: 3rem;
    max-height: 3rem;
    max-width: 45rem;
    color: white;
    background-color: #333;
    border-radius: .5rem;
  }

  .searchbarIcon {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: .5rem;
    border-radius: .5rem;
    max-height: 3rem;
    background-color: #333;
    cursor: pointer;

    img {
      width: 2rem;
      height: 2rem;
    }
  }
}