$text-color: white;

// section general
$fs-city: 2rem;
$fs-date: 1rem;
$fs-time: 6rem;

// section detailed
$fs-realtemp: 4rem;
$fs-feels: 1rem;
$fs-feelstemp: 2rem;
$fs-weatherdesc: 1.5rem;

//detailed sun
$fs-riseset: 1rem;

// detailed info
$fs-info: 1rem;

// days forecast
$fs-title: 2rem;
$fs-daystemp: 1.5rem;
$fs-daysdate: 1rem;

// hours forecast
$fs-hourtime: 2rem;
$fs-hourtemp: 1rem;
