@import '../../consts/fonts.module';

.hWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 1rem;

  background-color: #383838;
  border-radius: 1rem;

  .hTime {
    display: flex;
    font-size: $fs-hourtime;
    color: $text-color;
    font-weight: 700;
  }

  .hIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 4rem;
    max-height: 4rem;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .hValues {
    display: flex;

    font-size: $fs-hourtemp;
    color: $text-color;
    font-weight: 700;
  }
}