@import '../../consts/fonts.module';

.dInfoWrapper {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 8px;

  .dIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 64px;
    max-width: 64px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .dValue {
    display: flex;

    color: $text-color;
    font-weight: 600;
    font-size: $fs-info;
  }

  .dLabel {
    display: flex;

    color: $text-color;
    font-weight: 400;
    font-size: $fs-info;
  }
}